.footer {
  background-color: #f5e6e8;
  color: black;
  padding: 2rem;
  margin-top: 20px;
  padding-top: 80px;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer__col {
  flex: 1 0 200px;
  text-align: center;
  margin-bottom: 2rem;
}

.footer__col-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f5dfbb;
}

.footer__link {
  display: block;
  color: #241d44;
  margin: 0.5rem 0;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: var(--accent-color);
}

.footer__map {
  width: 100%;
  height: 200px;
  border: 0;
}

.footer__bar {
  background-color: var(--dark-color);
  color: var(--text-dark);
  padding: 1rem;
  text-align: right;
}

/* Mobile styles */
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer__col {
    margin-bottom: 10px;
  }

  .footer__col-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .footer__link {
    font-size: 0.9rem;
  }

  .footer__bar {
    text-align: center;
  }
}

.whatsapp-icon {
  position: fixed;
  bottom: 20px; /* Adjust this value to change the vertical position */
  right: 20px; /* Adjust this value to change the horizontal position */
  z-index: 9999; /* Ensure it appears above other elements */
}

.whatsapp-icon img {
  width: 60px; /* Adjust this value to change the size of the icon */
}

