.gallery--container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

.interiorImages-container {
  width: 80%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(14, 14, 14, 0.1);
  perspective: 1000px;
}

.barCounterImages-container {
  width: 80%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(14, 14, 14, 0.1);
  perspective: 1000px;
}

.lawnImages-container {
  width: 80%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(14, 14, 14, 0.1);
  perspective: 1000px;
}

.kitchenImages-container {
  width: 80%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(14, 14, 14, 0.1);
  perspective: 1000px;
}

.poolImages-container {
  width: 80%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(14, 14, 14, 0.1);
  perspective: 1000px;
}

.container--text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 20px;
}

.example-container:before {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.05) 40%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: rotate(6deg);
  pointer-events: none;
  z-index: -1;
}

.example-container:hover:before {
  animation: tilt-background 4s infinite linear;
}

@keyframes tilt-background {
  0% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.gallery--title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.gallery--description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.next,
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  z-index: 2;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.next:hover,
.prev:hover {
  background-color: #555;
  color: #fff;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s;
}

img.active {
  opacity: 1;
}

.refresh {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.refresh:hover {
  background-color: #eee;
}

.refresh svg {
  width: 20px;
  height: 20px;
}

.prev,
.next,
.refresh {
  border: none;
  outline: none;
}

@media (max-width: 992px) {
  .example-container {
    width: 90%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .interiorImages-container {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .kitchenImages-container {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .barCounterImages-container {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .lawnImages-container {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .poolImages-container {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
}
