.example-container {
  max-width: 1200px;
  height: calc(80vh - 64px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  box-shadow: 0 4px 12px rgba(213, 198, 224, 0.8);
  overflow: hidden;
}

.property--img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #d5c6e0;
}

/* Mobile styles */
@media (max-width: 767px) {
  .example-container {
    height: 300px;
  }

  .next,
  .prev,
  .refresh {
    top: auto;
    bottom: 10px;
    transform: translateY(0);
  }

  .next {
    right: 10px;
    left: auto;
  }

  .prev {
    right: auto;
    left: 10px;
  }

  .refresh {
    top: 10px;
    right: 10px;
  }
}
