.example-container {
  max-width: 1200px;
  height: calc(80vh - 64px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.property--img {
  object-fit: cover;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Mobile styles */
@media (max-width: 767px) {
  .example-container {
    height: 300px;
  }

  .next,
  .prev,
  .refresh {
    top: auto;
    bottom: 10px;
    transform: translateY(0);
  }

  .next {
    right: 10px;
    left: auto;
  }

  .prev {
    right: auto;
    left: 10px;
  }

  .refresh {
    top: 10px;
    right: 10px;
  }
}
